In [135]:
import pandas as pd

In [136]:
file_lan = 'data/variant_tl_svevo_all.vcf'
file_lan_dic = 'data/variant_td_svevo_all.vcf'

In [137]:
vcf_cols = ['CHROM','POS','ID','REF','ALT','QUAL','FILTER','INFO','FORMAT','ALLELE']

In [138]:
df_lan_dic = pd.read_csv(file_lan_dic, sep='\t', comment='#', header=None)
df_lan_dic.columns = vcf_cols
df_lan_dic['LDN_DIC_new_id'] = 'LDN_DIC_' + df_lan_dic.index.astype(str)
df_lan_dic['LDN_DIC_what'] = 'LDN_DIC'
print(len(df_lan_dic.index))
df_lan_dic.head(4)

40221

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,ALLELE,LDN_DIC_new_id,LDN_DIC_what
0,chr1A,1098670,.,T,C,225,PASS,DP=33;VDB=0.115547;SGB=-0.693079;MQSB=1;MQ0F=0...,GT:PL,"1/1:255,87,0",LDN_DIC_0,LDN_DIC
1,chr1A,1101224,.,G,T,225,PASS,DP=37;VDB=0.432424;SGB=-0.693139;MQSB=1;MQ0F=0...,GT:PL,"1/1:255,108,0",LDN_DIC_1,LDN_DIC
2,chr1A,1101457,.,T,C,225,PASS,DP=32;VDB=0.0583432;SGB=-0.693097;MQSB=1;MQ0F=...,GT:PL,"1/1:255,90,0",LDN_DIC_2,LDN_DIC
3,chr1A,1101480,.,C,T,225,PASS,DP=28;VDB=0.958041;SGB=-0.693021;MQSB=1;MQ0F=0...,GT:PL,"1/1:255,81,0",LDN_DIC_3,LDN_DIC

In [139]:
df_lan = pd.read_csv(file_lan, sep='\t', comment='#', header=None)
df_lan.columns = vcf_cols
df_lan['LDN_new_id'] = 'LDN_' + df_lan.index.astype(str)
df_lan['LDN_what'] = 'LDN'
print(len(df_lan.index))
df_lan.head(4)

39157

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,ALLELE,LDN_new_id,LDN_what
0,chr1A,1098670,.,T,C,225,PASS,DP=28;VDB=0.98078;SGB=-0.693021;MQSB=1;MQ0F=0;...,GT:PL,"1/1:255,81,0",LDN_0,LDN
1,chr1A,1101224,.,G,T,225,PASS,DP=27;VDB=0.465551;SGB=-0.693021;MQSB=0.927743...,GT:PL,"1/1:255,81,0",LDN_1,LDN
2,chr1A,1101457,.,T,C,225,PASS,DP=21;VDB=0.00957019;SGB=-0.692067;MQSB=1;MQ0F...,GT:PL,"1/1:255,60,0",LDN_2,LDN
3,chr1A,1101480,.,C,T,225,PASS,DP=29;VDB=0.9159;SGB=-0.692914;MQSB=1;MQ0F=0;A...,GT:PL,"1/1:255,75,0",LDN_3,LDN

In [140]:
columns_ld = ['CHROM','POS','ALT','LDN_DIC_new_id']
columns_l = ['CHROM','POS','ALT','LDN_new_id']
df_merged = pd.merge(df_lan[columns_l], df_lan_dic[columns_ld], on=['CHROM','POS','ALT'])
print(len(df_merged.index))

24978

In [141]:
df_merged.head(4)

   CHROM      POS ALT LDN_new_id LDN_DIC_new_id
0  chr1A  1098670   C      LDN_0      LDN_DIC_0
1  chr1A  1101224   T      LDN_1      LDN_DIC_1
2  chr1A  1101457   C      LDN_2      LDN_DIC_2
3  chr1A  1101480   T      LDN_3      LDN_DIC_3

In [142]:
df_lan_diff = df_lan[~df_lan['LDN_new_id'].isin(df_merged['LDN_new_id'])]
df_lan_dic_diff = df_lan_dic[~df_lan_dic['LDN_DIC_new_id'].isin(df_merged['LDN_DIC_new_id'])]
print(len(df_lan_diff.index))
print(len(df_lan_dic_diff.index))

14179
15243

In [143]:
df_lan_dic_diff.head(2)

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,ALLELE,LDN_DIC_new_id,LDN_DIC_what
28,chr1A,1176124,.,A,G,184,PASS,DP=12;VDB=0.474122;SGB=-0.670168;MQSB=1;MQ0F=0...,GT:PL,"1/1:214,30,0",LDN_DIC_28,LDN_DIC
42,chr1A,5507126,.,G,T,96,PASS,DP=4;VDB=0.47843;SGB=-0.556411;MQSB=1;MQ0F=0;A...,GT:PL,"1/1:126,12,0",LDN_DIC_42,LDN_DIC

In [144]:
df_lan_diff = df_lan_diff.rename(columns={'LDN_what':'what'})
df_lan_diff.head(2)

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,ALLELE,LDN_new_id,what
38,chr1A,3991594,.,TA,TAA,111,PASS,INDEL;IDV=4;IMF=0.1;DP=4;VDB=0.00701511;SGB=-0...,GT:PL,"1/1:141,12,0",LDN_38,LDN
44,chr1A,9097353,.,TC,T,79,PASS,INDEL;IDV=4;IMF=0.8;DP=5;VDB=0.114666;SGB=-0.5...,GT:PL,"1/1:106,6,0",LDN_44,LDN

In [145]:
df_lan_dic_diff = df_lan_dic_diff.rename(columns={'LDN_DIC_what':'what'})
df_lan_dic_diff.head(2)

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,ALLELE,LDN_DIC_new_id,what
28,chr1A,1176124,.,A,G,184,PASS,DP=12;VDB=0.474122;SGB=-0.670168;MQSB=1;MQ0F=0...,GT:PL,"1/1:214,30,0",LDN_DIC_28,LDN_DIC
42,chr1A,5507126,.,G,T,96,PASS,DP=4;VDB=0.47843;SGB=-0.556411;MQSB=1;MQ0F=0;A...,GT:PL,"1/1:126,12,0",LDN_DIC_42,LDN_DIC

In [151]:
vcf_cols.append('what')
df_lan_diff = df_lan_diff[vcf_cols]
df_lan_dic_diff = df_lan_dic_diff[vcf_cols]

In [152]:
df_res = pd.concat([df_lan_diff, df_lan_dic_diff],sort=False)
print(len(df_res.index))

29422

In [153]:
df_res.head(2)

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,ALLELE,what
38,chr1A,3991594,.,TA,TAA,111,PASS,INDEL;IDV=4;IMF=0.1;DP=4;VDB=0.00701511;SGB=-0...,GT:PL,"1/1:141,12,0",LDN
44,chr1A,9097353,.,TC,T,79,PASS,INDEL;IDV=4;IMF=0.8;DP=5;VDB=0.114666;SGB=-0.5...,GT:PL,"1/1:106,6,0",LDN

In [155]:
df_res.groupby(['CHROM','what']).size()

CHROM  what
chr1A  LDN         801
       LDN_DIC     974
chr1B  LDN        1572
       LDN_DIC     644
chr2A  LDN         626
       LDN_DIC     586
chr2B  LDN        1079
       LDN_DIC    1122
chr3A  LDN         894
       LDN_DIC    5257
chr3B  LDN         844
       LDN_DIC     803
chr4A  LDN         911
       LDN_DIC    1429
chr4B  LDN         858
       LDN_DIC     573
chr5A  LDN         572
       LDN_DIC     505
chr5B  LDN         719
       LDN_DIC     443
chr6A  LDN        1295
       LDN_DIC     656
chr6B  LDN        1820
       LDN_DIC     420
chr7A  LDN         783
       LDN_DIC     675
chr7B  LDN         925
       LDN_DIC     752
chrUn  LDN         480
       LDN_DIC     404
dtype: int64

In [158]:
df_res.groupby(['what']).size()

what
LDN        14179
LDN_DIC    15243
dtype: int64

In [157]:
df_res.to_csv('data/diff.csv', index=None, sep='\t')