In [1]:
import pandas as pd

In [34]:
file_lan = 'data/variant_tl_svevo_all.vcf'
file_lan_dic = 'data/variant_td_svevo_all.vcf'
#no filtered
file_lan_low = 'data/variant_tl_svevo_all.bcf'
file_lan_dic_low = 'data/variant_td_svevo_all.bcf'

In [35]:
vcf_cols = ['CHROM','POS','ID','REF','ALT','QUAL','FILTER','INFO','FORMAT','ALLELE']

In [36]:
df_lan_dic = pd.read_csv(file_lan_dic_low, sep='\t', comment='#', header=None)
df_lan_dic.columns = vcf_cols
df_lan_dic['LDN_DIC_new_id'] = 'LDN_DIC_' + df_lan_dic.index.astype(str)
df_lan_dic['LDN_DIC_what'] = 'LDN_DIC'
print(len(df_lan_dic.index))
df_lan_dic.head(4)

137487

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,ALLELE,LDN_DIC_new_id,LDN_DIC_what
0,chr1A,10904,.,C,G,10.79230,.,"DP=1;SGB=-0.379885;MQ0F=0;AC=2;AN=2;DP4=0,0,1,...",GT:PL,"1/1:40,3,0",LDN_DIC_0,LDN_DIC
1,chr1A,10967,.,A,G,5.04598,.,"DP=1;SGB=-0.379885;MQ0F=0;AC=2;AN=2;DP4=0,0,1,...",GT:PL,"1/1:33,3,0",LDN_DIC_1,LDN_DIC
2,chr1A,1098670,.,T,C,225.00000,.,DP=33;VDB=0.115547;SGB=-0.693079;MQSB=1;MQ0F=0...,GT:PL,"1/1:255,87,0",LDN_DIC_2,LDN_DIC
3,chr1A,1100905,.,A,G,10.79230,.,"DP=1;SGB=-0.379885;MQ0F=0;AC=2;AN=2;DP4=0,0,1,...",GT:PL,"1/1:40,3,0",LDN_DIC_3,LDN_DIC

In [37]:
df_lan = pd.read_csv(file_lan_low, sep='\t', comment='#', header=None)
df_lan.columns = vcf_cols
df_lan['LDN_new_id'] = 'LDN_' + df_lan.index.astype(str)
df_lan['LDN_what'] = 'LDN'
print(len(df_lan.index))
df_lan.head(4)

132487

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,ALLELE,LDN_new_id,LDN_what
0,chr1A,1098670,.,T,C,225.0000,.,DP=28;VDB=0.98078;SGB=-0.693021;MQSB=1;MQ0F=0;...,GT:PL,"1/1:255,81,0",LDN_0,LDN
1,chr1A,1099135,.,C,G,43.4147,.,DP=2;VDB=0.02;SGB=-0.453602;MQ0F=0;AC=2;AN=2;D...,GT:PL,"1/1:73,6,0",LDN_1,LDN
2,chr1A,1099155,.,C,T,76.0000,.,DP=3;VDB=0.235765;SGB=-0.511536;MQSB=1;MQ0F=0;...,GT:PL,"1/1:106,9,0",LDN_2,LDN
3,chr1A,1099936,.,C,T,10.7923,.,"DP=1;SGB=-0.379885;MQ0F=0;AC=2;AN=2;DP4=0,0,1,...",GT:PL,"1/1:40,3,0",LDN_3,LDN

In [38]:
#low quality

In [31]:
df_lan_dic_low = pd.read_csv(file_lan_dic_low, sep='\t', comment='#', header=None)
df_lan_dic_low.columns = vcf_cols
print(len(df_lan_dic_low.index))

137487

In [32]:
df_lan_low = pd.read_csv(file_lan_low, sep='\t', comment='#', header=None)
df_lan_low.columns = vcf_cols
print(len(df_lan_low.index))

132487

In [39]:
#merging

In [40]:
columns_ld = ['CHROM','POS','ALT','LDN_DIC_new_id']
columns_l = ['CHROM','POS','ALT','LDN_new_id']
df_merged = pd.merge(df_lan[columns_l], df_lan_dic[columns_ld], on=['CHROM','POS','ALT'])
print(len(df_merged.index))

60951

In [41]:
df_merged.head(4)

   CHROM      POS ALT LDN_new_id LDN_DIC_new_id
0  chr1A  1098670   C      LDN_0      LDN_DIC_2
1  chr1A  1101224   T      LDN_4      LDN_DIC_5
2  chr1A  1101457   C      LDN_5      LDN_DIC_6
3  chr1A  1101480   T      LDN_6      LDN_DIC_7

In [42]:
df_lan_diff = df_lan[~df_lan['LDN_new_id'].isin(df_merged['LDN_new_id'])]
df_lan_dic_diff = df_lan_dic[~df_lan_dic['LDN_DIC_new_id'].isin(df_merged['LDN_DIC_new_id'])]
print(len(df_lan_diff.index))
print(len(df_lan_dic_diff.index))

71536
76536

In [43]:
df_lan_dic_diff.head(2)

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,ALLELE,LDN_DIC_new_id,LDN_DIC_what
0,chr1A,10904,.,C,G,10.79230,.,"DP=1;SGB=-0.379885;MQ0F=0;AC=2;AN=2;DP4=0,0,1,...",GT:PL,"1/1:40,3,0",LDN_DIC_0,LDN_DIC
1,chr1A,10967,.,A,G,5.04598,.,"DP=1;SGB=-0.379885;MQ0F=0;AC=2;AN=2;DP4=0,0,1,...",GT:PL,"1/1:33,3,0",LDN_DIC_1,LDN_DIC

In [44]:
df_lan_diff = df_lan_diff.rename(columns={'LDN_what':'what'})
df_lan_diff.head(2)

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,ALLELE,LDN_new_id,what
1,chr1A,1099135,.,C,G,43.4147,.,DP=2;VDB=0.02;SGB=-0.453602;MQ0F=0;AC=2;AN=2;D...,GT:PL,"1/1:73,6,0",LDN_1,LDN
2,chr1A,1099155,.,C,T,76.0000,.,DP=3;VDB=0.235765;SGB=-0.511536;MQSB=1;MQ0F=0;...,GT:PL,"1/1:106,9,0",LDN_2,LDN

In [45]:
df_lan_dic_diff = df_lan_dic_diff.rename(columns={'LDN_DIC_what':'what'})
df_lan_dic_diff.head(2)

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,ALLELE,LDN_DIC_new_id,what
0,chr1A,10904,.,C,G,10.79230,.,"DP=1;SGB=-0.379885;MQ0F=0;AC=2;AN=2;DP4=0,0,1,...",GT:PL,"1/1:40,3,0",LDN_DIC_0,LDN_DIC
1,chr1A,10967,.,A,G,5.04598,.,"DP=1;SGB=-0.379885;MQ0F=0;AC=2;AN=2;DP4=0,0,1,...",GT:PL,"1/1:33,3,0",LDN_DIC_1,LDN_DIC

In [46]:
vcf_cols.append('what')
df_lan_diff = df_lan_diff[vcf_cols]
df_lan_dic_diff = df_lan_dic_diff[vcf_cols]

In [47]:
df_res = pd.concat([df_lan_diff, df_lan_dic_diff],sort=False)
print(len(df_res.index))

148072

In [48]:
df_res.head(2)

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,ALLELE,what
1,chr1A,1099135,.,C,G,43.4147,.,DP=2;VDB=0.02;SGB=-0.453602;MQ0F=0;AC=2;AN=2;D...,GT:PL,"1/1:73,6,0",LDN
2,chr1A,1099155,.,C,T,76.0000,.,DP=3;VDB=0.235765;SGB=-0.511536;MQSB=1;MQ0F=0;...,GT:PL,"1/1:106,9,0",LDN

In [49]:
df_res.groupby(['CHROM','what']).size()

CHROM  what
chr1A  LDN         4576
       LDN_DIC     4769
chr1B  LDN         6426
       LDN_DIC     4338
chr2A  LDN         4229
       LDN_DIC     4204
chr2B  LDN         5210
       LDN_DIC     5755
chr3A  LDN         4970
       LDN_DIC    16244
chr3B  LDN         5256
       LDN_DIC     5157
chr4A  LDN         4573
       LDN_DIC     6432
chr4B  LDN         4434
       LDN_DIC     3791
chr5A  LDN         4134
       LDN_DIC     3910
chr5B  LDN         4345
       LDN_DIC     3780
chr6A  LDN         4991
       LDN_DIC     3814
chr6B  LDN         6888
       LDN_DIC     3355
chr7A  LDN         4562
       LDN_DIC     4658
chr7B  LDN         4821
       LDN_DIC     4375
chrUn  LDN         2121
       LDN_DIC     1954
dtype: int64

In [50]:
df_res.groupby(['what']).size()

what
LDN        71536
LDN_DIC    76536
dtype: int64

In [53]:
df_res = df_res.drop(columns='what',axis=1)
df_res.to_csv('data/diff.vcf', index=None, sep='\t')

In [58]:
df_f = pd.read_csv('data/diff.filtered.vcf', sep='\t', comment='#', header=None)
vcf_cols = ['CHROM','POS','ID','REF','ALT','QUAL','FILTER','INFO','FORMAT','ALLELE']
df_f.columns = vcf_cols
print(len(df_f.index))
df_f.head(4)

17600

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,ALLELE
0,chr1A,11625998,.,C,T,97,PASS,DP=5;VDB=0.0749805;SGB=-0.590765;MQSB=1;MQ0F=0...,GT:PL,"1/1:127,15,0"
1,chr1A,17989557,.,T,C,75,PASS,DP=4;VDB=0.131345;SGB=-0.556411;MQSB=1;MQ0F=0;...,GT:PL,"1/1:105,12,0"
2,chr1A,17989742,.,G,A,194,PASS,DP=8;VDB=0.530911;SGB=-0.651104;MQSB=0.992367;...,GT:PL,"1/1:224,24,0"
3,chr1A,24505602,.,T,G,111,PASS,DP=4;VDB=0.756056;SGB=-0.556411;MQSB=1;MQ0F=0;...,GT:PL,"1/1:141,12,0"

In [60]:
df_f.groupby(['CHROM']).size()

CHROM
chr1A     764
chr1B    1361
chr2A     615
chr2B    1435
chr3A    5655
chr3B     792
chr4A    1558
chr4B     363
chr5A     359
chr5B     449
chr6A    1047
chr6B    1551
chr7A     550
chr7B     590
chrUn     511
dtype: int64