In [27]:
import pandas as pd

In [28]:
vcf_cols = ['CHROM','POS','ID','REF','ALT','QUAL','FILTER','INFO','FORMAT','disk/data/dic_svevo.region.bam']

In [49]:
#only_lan_svevo
file_only_in = 'disk/data/variant_lan_svevo.ann.vcf'
file_compare_to = 'disk/data/variant_dic_svevo.ann.vcf'
file_res = 'disk/data/variants_only_lan_svevo.ann.vcf.csv'

In [35]:
#only_dic_svevo
file_only_in = 'disk/data/variant_dic_svevo.ann.vcf'
file_compare_to = 'disk/data/variant_lan_svevo.ann.vcf'
file_res = 'disk/data/variants_only_dic_svevo.ann.vcf.csv'

In [56]:
#only_dic_wew
file_only_in = 'disk/data/variant_dic_wew.ann.vcf'
file_compare_to = 'disk/data/variant_lan_wew.ann.vcf'
file_res = 'disk/data/variants_only_dic_wew.ann.vcf.csv'

In [ ]:
#only_lan_wew
file_only_in = 'disk/data/variant_lan_wew.ann.vcf'
file_compare_to = 'disk/data/variant_dic_wew.ann.vcf'
file_res = 'disk/data/variants_only_lan_wew.ann.vcf.csv'

In [57]:
df_in = pd.read_csv(file_only_in, sep='\t', comment='#', header=None)
df_in.columns = vcf_cols
print(len(df_in.index))

24

In [58]:
df_to = pd.read_csv(file_compare_to, sep='\t', comment='#', header=None)
df_to.columns = vcf_cols
print(len(df_to.index))

166

In [59]:
count_both = count_diff = 0
r_variants = []
for k,v in df_in.iterrows(): #(R)
    res = df_to[(df_to.CHROM == v.CHROM) & (df_to.POS == v.POS) & (df_to.REF == v.REF)  & (df_to.ALT == v.ALT)]
    if(len(res.index) > 0): #the (S) genotype has the same variant?
        count_both += 1
    else:
        count_diff += 1
        r_variants.append(v) #this variant is only present in (R)
print('Variants in both genotypes: ' + str(count_both))
print('Unique variants (R): ' + str(count_diff))

Variants in both genotypes: 6
Unique variants (R): 18

In [60]:
df = pd.DataFrame(r_variants)
df.head(3)

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,disk/data/dic_svevo.region.bam
2,chr3A,55913017,.,A,C,143.0,.,DP=8;VDB=0.0341101;SGB=-0.616816;MQSB=1;MQ0F=0...,GT:PL,"1/1:173,18,0"
3,chr3A,58325322,.,G,A,131.0,.,DP=6;VDB=0.539429;SGB=-0.590765;MQSB=1;MQ0F=0;...,GT:PL,"1/1:161,15,0"
4,chr3A,58857001,.,A,G,225.0,.,DP=14;VDB=0.817437;SGB=-0.683931;MQSB=1;MQ0F=0...,GT:PL,"1/1:255,39,0"

In [61]:
df.to_csv(file_res, sep='\t', index=False)

In [62]:
df[df.INFO.str.contains('HIGH')]

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,disk/data/dic_svevo.region.bam
8,chr3A,59257104,.,G,GA,53.0000,.,INDEL;IDV=3;IMF=0.0127119;DP=5;VDB=0.842333;SG...,GT:PL,"0/1:87,0,18"
14,chr3A,63968264,.,TAAAAAAAA,TAAAAAAAAA,26.8053,.,INDEL;IDV=15;IMF=0.9375;DP=15;VDB=0.0932819;SG...,GT:PL,"1/1:82,63,27"
21,chr3A,74684083,.,CA,CAA,163.0000,.,INDEL;IDV=6;IMF=0.0652174;DP=6;VDB=0.000481013...,GT:PL,"1/1:193,18,0"